@model Amaliy_ish.Models.AddPlayersViewModel

@{
}

<h1>Add player</h1>
<form method="post" action="Add" class="mt-5">
	<div class="mb-3">
		<label for="" class="form-label">Name</label>
		<input type="text" class="form-control" asp-for="Name" />
	</div>
	<div class="mb-3">
		<label for="" class="form-label">First name</label>
		<input type="text" class="form-control" asp-for="Firstname" />
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Age</label>
		<input type="number" class="form-control" asp-for="Age" />
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Position</label>
		<input type="text" class="form-control" asp-for="Position" />
	</div>
	<div class="mb-3">
		<label for="" class="form-label">T-shirt number</label>
		<input type="number" class="form-control" asp-for="TShirtNumber" />
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Nationality</label>
		<input type="text" class="form-control" asp-for="Nationality" />
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>
